button {
  display: flex;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 34px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 14px;
  margin: 0;
  outline-style: none;
  padding: 0 18px;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.25s;
}

button:hover {
  filter: brightness(120%);
}
button.rounded {
  border: 2px solid var(--main);
  height: 29px;
  padding: 0 16px;
  border-radius: 18px;
  font-size: 12px;
  line-height: 16px;
}
button.primary {
  background-color: var(--bg-secondary);
  font-weight: 700;
  color: var(--main);
}

button.secondary {
  color: var(--grey);
  background-color: var(--bg-secondary);
  border-color: var(--grey);
}

button.error {
  color: white;
  background-color: var(--red);
}

button.success {
  color: white;
  background-color: var(--green);
}

button.active {
  transform: scale(0.95);
  box-shadow: none;
}

button.disabled {
  cursor: not-allowed;
}

button.enabled {
  background-color: var(--main);
  color: var(--bg-primary);
}

button.enabled:hover {
  background-color: var(--main-darker);
}