
/* Not working font. should find a font which I can use for the project. */
@font-face {
  font-family: 'Brugty';
  src: url('./assets/Brugty.ttf') format('truetype');
}
html{
  overflow-x: hidden;
}
body{
  overflow: hidden;
}
:root {
  font-family: Helvetica, system-ui, Brugty, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 00;

  --text-color: #FAF8FE;
  --text-color-secondary: #232024;
  --bg-color: #232024;
  --bg-secondary:#BDBCBD;
  --bg-tertiary:#fff;
  --bg-network: #46464682; /* network */
  --bg-lighter:#6A6A6A;
  --bg-tabs:#595CFF; /* translators tabs */
  --main: #EFFF8E; /* EFFF8E; */
  --main-lighter: #F0FFB2; /* F0FFB2; */
  --main-darker: #d9e878;
  --red: #e33333;
  --green: #3bb143;
  
  background-color: var(--bg-color); 
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main > article{
  width: 100%;
}

.scroll{
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  background-color: var(--bg-secondary);
  border: 1px solid transparent;
  align-items: center;
}
.input-wrapper:hover {
  border: 1px solid var(--main);
}
.input-wrapper.invalid {
  border: 1px solid var(--red);
}

.section-borders{
  border-radius: 12px;
  border: 2px solid rgb(80, 80, 80);
  margin-left: 0;
  box-sizing: border-box;
}

.not-allowed{
  cursor: not-allowed;
  opacity: 0.2;
}
.not-allowed *{
  pointer-events: none;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}