/* Instrument Sans - Variable Font */
@font-face {
  font-family: 'Instrument Sans';
  src: url('./assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('./assets/fonts/InstrumentSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400 700;
  font-stretch: 75% 100%;
  font-style: italic;
}

html{
  overflow-x: hidden;
}
body{
  overflow: hidden;
}
:root {
  font-family: 'Instrument Sans', arial;
  
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --secondary-front: Source Sans Pro;
  --text-color: #FAF8FE;
  --text-color-secondary: #232024;
  --bg-primary: #232024;
  --bg-secondary:#353535;
  --bg-tertiary:#444444;
  --bg-network: #46464682; /* network */
  --grey: #D9D9D9;
  --main: #F2FD97; /* EFFF8E; */
  --main-lighter: #F0FFB2; /* F0FFB2; */
  --red: #e33333;
  --green: #3bb143;
  
  background-color: var(--bg-primary); 
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main > article{
  width: 100%;
}

.scroll{
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  background-color: var(--bg-secondary);
  border: 1px solid transparent;
  align-items: center;
}
.input-wrapper:hover {
  border: 1px solid var(--main);
}
.input-wrapper.invalid {
  border: 1px solid var(--red);
}

.section-borders{
  border-radius: 12px;
  border: 2px solid rgb(80, 80, 80);
  margin-left: 0;
  box-sizing: border-box;
}

.not-allowed{
  cursor: not-allowed;
  opacity: 0.2;
}
.not-allowed *{
  pointer-events: none;
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}